.booking {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    color:#1a1a1a;
    background-color: #EBECF1;
    padding: 50px 0;
}
.booking__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
    width: 100%;
}
.booking__title {
    color: #1A1A1A;
font-size: 46px;
font-weight: 800;
line-height: 120%; 
margin-bottom: 50px;
line-height: 1.2;
}

.booking__fieldset_user-info {
    margin-bottom: 50px;
}
.booking__legend {
    font-style: 18px;
    font-weight: 800;
    line-height: 1.4;
    margin-bottom: 20px;
}
.booking__input-group {
    display: flex;
    gap: 8px;
}
.booking__input {
    display: block;
    max-width: 380px;
    height: 44px;
    width: 100%;
    font-size: 18px;
    line-height: 1.4;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0 16px;
    color:#1a1a1a;
}

.booking__input::placeholder{
color:#bababa;
}

.booking__input:hover{
    background-color: #f9f9f9;
}
.booking__input:focus{
    border-color: #bcbcbc;
    outline: none;
}
.booking__input_valid{
    border-color: #00992b;
}
.booking__input_invalid{
    border-color: #900;
}

.booking__fieldset_comedians {
    margin-bottom: 120px;
}
.booking__comedians {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.booking__comedian {
    display: flex;
    align-items: center;
}
.booking__select{
margin-right: 8px;
width: 100%;
height: 44px;
}
.booking__select_comedian{
max-width: 380px;
}
.booking__select_time{
margin-right: 18px;
min-width: 183px;
}

.booking__btn {
color:#1A1A1A;
font-size: 18px;
font-weight: 400;
line-height: 1.4;
padding: 16px 42px;
background-color: #ffc219;
border-radius: 36px;
}

.booking__hall{
white-space: nowrap;
font-size: 18px;
line-height: 1.4;
padding-right: 32px;
background-image: url('../img/qr.svg');
background-position: right;
background-size: 24px;
background-repeat: no-repeat;
}

@media (max-width: 1024px){
    .booking__container {
        padding: 0 60px;
    }
    .booking__title{
        font-size: 32px;
        margin-bottom: 40px;
    }
    .booking__fieldset_user-info{
        margin-bottom: 40px;
    }
    .booking__fieldset_comedians{
        margin-bottom: 82px;
    }
}

@media (max-width: 768px){
.booking__input-group{
    flex-direction: column;
}
.booking__input{
    max-width: none;
}
}

@media (max-width: 680px){
    .booking__container {
        padding: 0 16px;
    }
    .booking__title{
        font-size: 14px;
        margin-bottom: 32px;
    }
    .booking__comedian{
        flex-wrap: wrap;
    }
    .booking__select_comedian{
        margin-right: 0;
        margin-bottom: 8px;
        max-width: none;
    }
}