.event {
    width: 100vw;
    min-height: 100vh;
    display: flex; /*flex;*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../img/2400-cromo-microfono-en-etapa-listo-para-radiodifusion.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    background-color: #fff;
    padding: 80px 30px 80px;
}
.event__title {
font-size: 100px;
font-weight: 800;
margin-bottom: 50px;
line-height: 1.2;
}
.event__info {
    display: flex;
    gap: 80px;
    margin-bottom: 62px;
}
.event__info-item {
    font-size: 30px;
    line-height: 1.4;
}
.event__info-number {
    font-size: 80px;
    font-weight: 800;
    line-height: 1.2;
    margin-right: 8px;
}

.event__btn {
line-height: 1.4;
font-size: 24px;
}
.event__btn_reserve {
padding: 16px 32px;
border-radius: 36px;
background-color:#ffc119;
color:#1a1a1a;
margin-bottom: 24px;
}
.event__btn_edit {
display: flex;
gap:8px;
font-size: 18px;
align-items: center;
}

@media (max-width: 1024px){
    .event__title{
        margin-bottom: 40px;
    }
    .event__info{
        margin-bottom: 45px;
        gap: 50px;
    }
    .event__info-item{
        font-size: 24px;
    }
    .event__info-number{
        font-size: 50px;
    }
    .event__btn_reserve{
        font-size: 18px;
        margin-bottom: 20px;
    }
}

@media (max-width: 680px){
.event{
    padding: 80px 15px 60px;
}
.event__title{
    font-size: 38px;
    margin-bottom: 8px;
}

.event__info{
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 10px;
    margin-bottom: 30px;
}
.event__btn_reserve{
    margin-top: auto;
}
}